*{

  font-family: Arial, Helvetica, sans-serif;

}

.container {
  display: flex;
  height: 100vh; /* Ajusta la altura del contenedor principal al 100% de la ventana */
}

.menu-izq {
  position: relative;
  width: 25%;
  background-color: #1e213a;
  color: white;
  padding: 2rem;
}

.menu-izq-search {
  position: relative;
  background-color: #1e213a;
  color: white;
  padding: 2rem;
  height:96%;
}

.content-der {
  background-color: #100e1d;
  width: 75%;
  height: 100vh; /* Ajusta la altura al 100% de la ventana */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.write-country {
  color: white;
  background-color: #949496;
  padding: 0.4rem;
  cursor: pointer;
  margin: 2rem;
}

.cruz-y-texto {
  display: flex;
}

.country {
  width: 60%;
  height: 2rem;
  background-color: #1e213a;
  transition: 0.3s ease;
  border: 0.125rem solid rgb(255, 255, 255);
  padding-left: 2.6rem;
  border-radius: 0;
  color: white;
}

.country:hover {
  border-color: white;
  border: 0.125rem solid rgb(255, 255, 255);
}

.cruz {
  font-weight: bold;
  color: white;
  margin-left: 4.4rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 0.125rem solid #6368ac;
  background-color: #1e213a;
  cursor: pointer;
  transition: 0.3s ease;
}

.cruz:hover {
  border-color: white;
}

.search {
  margin-top: 1rem;
  font-weight: bold;
  color: white;
  width: 4rem;
  height: 2rem;
  border: 0.125rem solid #6368ac;
  background-color: #222ed6;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0.5rem;
}

.search:hover {
  border-color: white;
}

.change {

  margin-top: 1rem;
  margin-left: 1rem;
  font-weight: bold;
  color: white;
  width: 8rem;
  height: 2rem;
  border: 0.125rem solid #6368ac;
  background-color: #222ed6;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0.5rem;

}

.change:hover {

  border-color: white;

}

.cinco-dias {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.en-un-dia,
.en-dos-dias,
.en-tres-dias,
.en-cuatro-dias,
.en-cinco-dias {

  font-size: 0.98rem;
  width: 10rem;
  height: 12rem;
  background-color: #1e213a;
  flex-direction: row;
  color:white;
  
}

.days-left {

  padding-top:1.2rem;
  text-align: center;

}

.days-left-temp {

  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 1rem;
  color:white;

}

.t-min {

  color:rgb(172, 170, 170)

}

.title-highlights {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  height: 4rem;
  padding-top: 2rem;
  margin-left: 6.2rem;
}

.today-highlights {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 100rem;
}

.highlights-arriba {
  display: flex;
  justify-content: space-evenly;
  margin-right: 4rem;
  margin-left: 4rem;
}

.highlights-abajo {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.highlights-arriba-derecha{
  width: 100%; /* Cambia el ancho a 100% */
  height: 13rem;
  background-color: #1e213a;
  margin-right:2.5rem;
  margin-left:1rem;
}
.highlights-arriba-izquierda {

  width: 100%; /* Cambia el ancho a 100% */
  height: 13rem;
  background-color: #1e213a;
  margin-left:2.5rem;
  margin-right:1rem;
}
.highlights-abajo-derecha {
  width: 100%; /* Cambia el ancho a 100% */
  height: 9rem;
  background-color: #1e213a;
  margin-right:2.5rem;
  margin-left:1rem;
}
.highlights-abajo-izquierda {
  width: 100%; /* Cambia el ancho a 100% */
  height: 9rem;
  background-color: #1e213a;
  margin-right:1rem;
  margin-left:2.5rem;
}

.wind-spped, .humidity, .visibillity, .air {

  padding:1rem;
  color:white;
  text-align: center;
}

.temp-value{

  color:white;
  font-size: 5rem;
  text-align: center;
  margin-top:12rem;
}

.weather {
  
  margin-top:5rem;
  margin-left:7.3rem;
  width:15rem;

}

.weather-days-left{
  margin-top:1rem;
  width:5rem;
  margin-left:2.5rem
}

.date  {

  color:rgb(172, 170, 170);
 text-align: center;
  margin-top:7rem;
}

.country-value {
 color:rgb(172, 170, 170);
text-align: center;
 margin-top:2rem;
}

.visib-value{

  color:white;
  font-size: 3rem;
  margin-left:35%;

}

.wind-value{

  color:white;
  font-size: 3rem;
  padding-left:35%;
  padding-top:2rem;

}

.humid-value{

  color:white;
  font-size: 3rem;
  padding-left:40%;
  padding-top:2rem;

}

.air-value{

  color:white;
  font-size: 3rem;
  padding-left:30%;
  padding-top:0.3rem;

}

.final {

  color:rgb(172, 170, 170);
  text-align: center;
  margin-top:8rem;

}

.nombre {

  text-decoration: underline;
  color:white;

}

.botones {

  display:flex;
  justify-content: flex-end;
  margin-right:7%;
  margin-top:2%;
}
.celsius{


  border-radius:1rem;
  font-weight: bold;
  color: white;
  height: 2rem;
  border: 0.125rem solid #6368ac;
  background-color: #585676;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0.5rem;
  margin-right:1%;
}

.farenheit {


  border-radius:1rem;
  font-weight: bold;
  color: white;
  height: 2rem;
  border: 0.125rem solid #6368ac;
  background-color: #585676;
  cursor: pointer;
  transition: 0.3s ease;
  padding: 0.5rem;

}

.farenheit:hover, .celsius:hover {

  border-color:white

}

.ubicacion {

  display:flex;
  justify-content: center;

}

.ubication-img {

  margin-top:1.5rem;
  width:2rem;
  height: 2rem;

}

.humidity-bar {
 
  width: 70%;
  margin-left:5rem;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.humidity-fill {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 5px;
}

.num-por {

  display:flex;
  justify-content: space-around;
  color:white;
  margin-top:1rem;

}

@media (max-width: 70rem) {

  .container {
    display:flex; 
    flex-direction: column;
   
  }

  .menu-izq {

    width:96vw;
    padding-left:15rem;

  }

  .menu-izq-search{

    padding-bottom: 0.125rem;
    padding-left:1rem;
    padding-right:15rem;
  }

  .cruz-y-texto {
    display: flex;
    flex-direction: column;
  }
  
  .cruz {
    order: -1;
    margin-bottom: 1rem;
    margin-left:0;
  }
  
  .country {
    width: 60%;
    height: 2rem;
    background-color: #222555;
    transition: 0.3s ease;
    border: 0.125rem solid rgb(255, 255, 255);
    padding-left: 2.6rem;
    border-radius: 0;
    color: white;
  }

  .content-der {

    width:120.8vw;
    height: 330vh;
  }

  .cinco-dias {

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-left:16rem;
    width: 50%;
  }
  
  .en-un-dia,
  .en-dos-dias,
  .en-tres-dias,
  .en-cuatro-dias,
  .en-cinco-dias {
    width: calc(50% - 1rem); /* Calcular el ancho del 50% menos el margen izquierdo */
    margin-bottom: 1rem; /* Agregar margen inferior para separar los elementos */
}

  .en-dos-dias{

    margin-left: 1rem;

  }
  .en-tres-dia,
  .en-cuatro-dias {
    margin-left: 1rem;
  }

  .title-highlights{

    margin-left:32rem;
  }

  .highlights-arriba,
  .highlights-abajo {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left:9rem;
    margin-right: 40rem;
    
  }
  .highlights-arriba-izquierda,
  .highlights-arriba-derecha
  {
    width:50rem;
    margin-left:7rem;
    margin-right: 7rem;
    margin-top: 2rem;
  }

  .highlights-abajo-izquierda,
  .highlights-abajo-derecha
  {
    width:50rem;
    margin-left:7rem;
    margin-right: 7rem;
    margin-bottom: 2rem;
 
  }

  .final {

    color:rgb(172, 170, 170);
    text-align: center;
    margin-top:3rem;
    margin-bottom:0.5rem
  }
  
  .nombre {
  
    text-decoration: underline;
    color:white;

  }

}
